<!DOCTYPE html >
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<footer th:fragment="head" class="navbar navbar-fixed-bottom mx-2" id="footer-navbar">
    <div class="container-fluid p-4 rounded">
        <div class="justify-content-center">
            <ul class="fa-ul" style="margin-left: 1.65em;">
                <li class="mb-3">
                    <span class="fa-li" style="color:#54456b"><i class="fas fa-envelope"></i></span><span
                        class="ms-2 text-warning">gum-center<a style="color: #54456b">@</a>gmail.com</span>
                </li>

                <li class="mb-3">
                    <span class="fa-li" style="color:#54456b"><i class="fas fa-phone"></i></span><span
                        class="ms-2 text-warning">+ 359 123 456 789</span>
                </li>
            </ul>
        </div>
        <div class="justify-content-center pb-4" style="color: #54456b">© 2024 <a style="color: #f7af1a">Gym Center Group</a>. Registered in Bulgaria.</div>

        <div class="justify-content-center">
            <button type="button" class="btn btn-warning btn-lg btn-floating mx-2 justify-content-around"
                    style="background-color: #54456b;">
                <a href="#"><i class="fab fa-facebook" style="color:royalblue"></i></a>
            </button>
            <button type="button" class="btn btn-warning btn-lg btn-floating mx-2 justify-content-around"
                    style="background-color: #54456b;">
                <a href="#"><i class="fab fa-youtube" style="color:red"></i></a>
            </button>
            <button type="button" class="btn btn-warning btn-lg btn-floating mx-2 justify-content-around"
                    style="background-color: #54456b;">
                <a href="#"><i class="fab fa-instagram" style="color:black"></i></a>
            </button>
            <button type="button" class="btn btn-warning btn-lg btn-floating mx-2 justify-content-around"
                    style="background-color: #54456b;">
                <a href="#"><i class="fab fa-twitter" style="color:deepskyblue"></i></a>
            </button>
        </div>

    </div>

</footer>
</body>
