<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg mx-2">
        <div class="container-fluid rounded">
            <a><img src="/pic/logo.png" th:alt="logo"></a>
            <a class="navbar-brand" href="/">Gym Center</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-warning" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-warning" href="#">Gym</a></li>
                            <li><a class="dropdown-item text-warning" href="#">Tennis</a></li>
                            <li><a class="dropdown-item text-warning" href="#">Gymnastics</a></li>
                            <li><a class="dropdown-item text-warning" href="#">Swimming</a></li>
                            <li><a class="dropdown-item text-warning" href="healthy-food.html">Healthy food</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-warning" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" th:href="@{/about}">About</a>
                    </li>
                    <th:block th:if="${@currentUser.id == null}">
                        <li class="nav-item">
                            <a class="nav-link text-warning" th:href="@{/users/register}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" th:href="@{/users/login}">Login</a>
                        </li>
                    </th:block>

                    <th:block th:unless="${@currentUser.id == null}">
                        <li class="nav-item">
                            <a class="nav-link text-warning" th:href="@{/users/profile}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" th:href="@{/users/logout}">Logout</a>
                        </li>
                    </th:block>

                </ul>
            </div>
        </div>
    </nav>

</header>
</body>
</html>