<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg mx-2">
        <div class="container-fluid rounded">
            <a><img src="/pic/logo.png" th:alt="logo"></a>
            <a class="navbar-brand" th:href="@{/}">Gym Center</a>
            <th:block th:unless="${@currentUser.id == null}">
                <h5 class="welcome-h4 pt-2" style="color:wheat">Welcome, <span th:text="${@currentUser.username}"></span> !</h5>
            </th:block>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="color: #f7af1a">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-warning" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-warning" href="/fitness">Fitness</a></li>
                            <li><a class="dropdown-item text-warning" href="/tennis">Tennis</a></li>
                            <li><a class="dropdown-item text-warning" href="/gymnastics">Gymnastics</a></li>
                            <li><a class="dropdown-item text-warning" href="/swimming">Swimming</a></li>
                            <li><a class="dropdown-item text-warning" href="/kids-zone">Kids Zone</a></li>
                            <li><a class="dropdown-item text-warning" href="/healthy-food">Healthy food</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-warning" th:href="@{/about}">About</a>
                    </li>
                    <th:block th:if="${@currentUser.id == null}">

                        <li class="nav-item">
                            <a class="nav-link text-warning" th:href="@{/users/register}">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" th:href="@{/users/login}">Login</a>
                        </li>
                    </th:block>

                    <th:block th:unless="${@currentUser.id == null}">
                        <li class="nav-item">
                            <a class="nav-link active text-warning" th:href="@{/users/plans}">Plans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" th:href="@{/users/profile}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" th:href="@{/users/logout}">Logout</a>
                        </li>

                    </th:block>

                </ul>
            </div>
        </div>
    </nav>

</header>
</body>
</html>