<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script src="/js/location.min.js"></script>
<head th:replace="fragments/head"></head>
<body style="background-color:#c7c5bc">
<header th:replace="fragments/header"></header>
<div >
<div class="location" id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><a href="https://1map.com/map-embed">1 Map</a>
</div>
<div class="title-class rounded-5 m-2" style="background-image: url('/pic/Interval Training Workouts.jpg')"><div><h3 class="h1-title">Mens sana in corpore sano.</h3></div></div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>