<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script src="/js/location.min.js"></script>
<head th:replace="fragments/head"></head>
<body style="background-color:#c7b4a1">
<header th:replace="fragments/header"></header>
<div class="title-class" style="background-image: url('/pic/Interval Training Workouts.jpg')"></div>
<div>
<div class="location" id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><a href="https://1map.com/map-embed">1 Map</a>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>