<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body style="background-color:#c7b4a1">
<header th:replace="fragments/header"></header>
<main><div class="ima-manu">

  <img src="/pic/gym4.jpg">
  <img src="/pic/gymm.jpg">
  <img src="/pic/gymm1.jpg">
  <img src="/pic/gymm2.jpg">
  <img src="/pic/gymm3.jpg">
  <img src="/pic/gymm4.jpg">
  <img src="/pic/gymm5.jpg">
  <img src="/pic/gymm6.jpg">
  <img src="/pic/gymm7.jpg">

</div></main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>