<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body style="background-color:#c7c5bc">
<header th:replace="~{fragments/header}"></header>
<main>
  <div class="container" style="padding-top: 50px">
    <div class="card float-left my-5"  style="background-color: cornsilk">
      <div class="row">
        <div class="col-sm-7">
          <div class="card-block">
            <div class="kz-text text-center" style="font-weight: bold; color:cadetblue;padding-top: 140px;font-size: 22px">
              <p>Gymnastic is a game for people with a very strong will.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <img class="d-block w-100 rounded" src="/pic/gymnastic.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="card float-left my-5"  style="background-color: #bcc7ad">
      <div class="row">
        <div class="col-sm-5">
          <img class="d-block w-100 rounded" src="/pic/gymnastics3.jpg" alt="">
        </div>
        <div class="col-sm-7">
          <div class="card-block">
            <div class="kz-text text-center" style="font-weight: bold; color: #54456b;padding-top: 140px;font-size: 22px">
              <p>Even if you are on the verge of giving up, you have to keep going.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card float-left my-5"  style="background-color: cornsilk">
      <div class="row">
        <div class="col-sm-7">
          <div class="card-block">
            <div class="kz-text text-center" style="font-weight: bold; color: cadetblue;padding-top: 120px;font-size: 22px">
              <p>And to keep fighting and fighting with yourself.</p>
            </div>

          </div>
        </div>
        <div class="col-sm-5">
          <img class="d-block w-100 rounded" src="/pic/gymnastics2.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="card float-left my-5"  style="background-color: #bcc7ad">
      <div class="row">
        <div class="col-sm-5">
          <img class="d-block w-100 rounded" src="/pic/gymnastics4.jpg" alt="">
        </div>
        <div class="col-sm-7">
          <div class="card-block">
            <div class="kz-text text-center" style="font-weight: bold; color: #54456b;padding-top: 140px;font-size: 22px">
              <p>After a lot of training, persistence, dedication comes...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card float-left my-5"  style="background-color: cornsilk">
      <div class="row">
        <div class="col-sm-7">
          <div class="card-block">
            <div class="kz-text text-center" style="font-weight: bold; color: cadetblue;padding-top: 130px;font-size: 22px">
              <h1>The victory</h1>
            </div>

          </div>
        </div>
        <div class="col-sm-5">
          <img class="d-block w-100 rounded" src="/pic/gymnastic111.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="title-class rounded-5 m-2" style="background-image: url('/pic/Interval Training Workouts.jpg')"><div><h3 class="h1-title">Mens sana in corpore sano.</h3></div></div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>