<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body style="background-image: url('/pic/bk.jpg');">
<header th:replace="fragments/header"></header>
<main><div class="ima-manu">
    <img src="/pic/HFMAndLogo.jpg" class="align-self-end" alt="pic-menu">
    <img src="/pic/foodP1.jpg">
    <img src="/pic/foodP.jpg">
    <img src="/pic/food3.jpg">
    <img src="/pic/restPic.jpg">
    <img src="/pic/gymmRest.jpg">
    <img src="/pic/gymmRest1.jpg">
    <img src="/pic/gymmRest3.jpg">

</div></main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
