<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body style="background-color:#c7c5bc">
<header th:replace="~{fragments/header}"></header>
<main>
    <div class="container-fluid1">
        <div class="container-header mx-auto w-50 bg-blur text-center pb-5 rounded-5" style="background-color:cadetblue"
             id="index_title">
            <p class="h2 text-warning p-2">Welcome to</p>
            <h1 class="h1-title"> GYM CENTER</h1>
            <p class="h4 text-black">On the website you will find the perfect base for sports.</p>

            <th:block th:if="${@currentUser.id == null}">
                <h3 class="text-black">
                    <a style="text-shadow: 0px 0px 6px rgba(255,255,255,0.7);" href="/users/login">Login</a>
                    if you have an account or
                    <a style="text-shadow: 0px 0px 6px rgba(255,255,255,0.7);" href="/users/register">Sign in</a>
                    now and check our deals.
                </h3>
            </th:block>
        </div>

        <div class="container p-5">
            <div class="title-class rounded-5" style="background-image: url('/pic/An-Exercise-Poster.jpg')"><h1>Choose
                your package. More credits, more classes...</h1></div>
            <div class="row">
                <div class="col-sm-4 py-4">
                    <div class="card text-center">
                        <div class="title rounded">
                            <img src="/pic/logo.png" th:alt="logo" style="padding: 6px">
                            <h2>Basic</h2>
                        </div>
                        <div class="price">
                            <h4><sup>£</sup> 29.96 </h4>
                        </div>
                        <div class="option rounded-bottom">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 Fitness</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i> Free Kids Zone</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 8 Credits</li>
                            </ul>
                        </div>
                        <!--                                <a href="/users/profile">Order Now </a>-->
                    </div>
                </div>
                <!-- END Col one -->
                <div class="col-sm-4 py-4">
                    <div class="card text-center">
                        <div class="title rounded">
                            <img src="/pic/logo.png" th:alt="logo" style="padding: 6px">
                            <h2>Standard</h2>
                        </div>
                        <div class="price">
                            <h4><sup>£</sup> 69.96 </h4>
                        </div>
                        <div class="option rounded-bottom">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 Fitness</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Kids Zone</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 12 Credits</li>
                            </ul>
                        </div>
                        <!--                                <a href="/users/profile">Order Now </a>-->
                    </div>
                </div>
                <!-- END Col two -->
                <div class="col-sm-4 py-4">
                    <div class="card text-center">
                        <div class="title rounded">
                            <img src="/pic/logo.png" th:alt="logo" style="padding: 6px">
                            <h2>Premium</h2>
                        </div>
                        <div class="price">
                            <h4><sup>£</sup> 89.96 </h4>
                        </div>
                        <div class="option rounded-bottom">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 Fitness</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Free Kids Zone</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 16 Credits</li>
                            </ul>
                        </div>
                        <!--                          <a href="/users/profile">Order Now </a>-->
                    </div>
                </div>
                <div class="container">
                    <div class="row gy-4 justify-content-center">
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body d-flex">
                                    <div class="icon-lg rounded" style="background-color: cadetblue"><i
                                            class="fa fa-solid fa-dumbbell" style="color: #dbb2f7"></i></div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2" style="color: cadetblue"><a
                                                class="stretched-link text-reset" href="/fitness">Fitness</a></h5>
                                        <p class="m-0" style="color: white">Fitness in the broadest sense is the general
                                            physical fitness of the human body.
                                            Physical fitness is the general state of health of the person. It represents
                                            the ability to practice various types of physical sports and sports
                                            activities.
                                            Good physical fitness is usually achieved through proper nutrition, moderate
                                            physical activity (through exercise or work), active recreation and
                                            sports.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body d-flex">
                                    <div class="icon-lg rounded" style="background-color: cadetblue"><i
                                            class="fa fa-solid fa-globe" style="color: #dbb2f7"></i></div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2" style="color: cadetblue"><a
                                                class="stretched-link text-reset" href="/tennis">Tennis</a></h5>
                                        <p class="m-0" style="color: white">Tennis is a racket sport that is played
                                            either individually against a single opponent or between two teams of two
                                            players each.
                                            Each player uses a tennis racket that is strung with cord to strike a hollow
                                            rubber ball covered with felt over or around a net and into the opponent's
                                            court.
                                            The object of the game is to manoeuvre the ball in such a way that the
                                            opponent is not able to play a valid return.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body d-flex">
                                    <div class="icon-lg rounded-3 text-white" style="background-color: cadetblue"><i
                                            class="fa fa-solid fa-running" style="color: #dbb2f7"></i></div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2" style="color: cadetblue"><a
                                                class="stretched-link text-reset" href="/gymnastics">Gymnastics</a></h5>
                                        <p class="m-0" style="color: white">Gymnastics is a type of sport that includes
                                            physical exercises requiring balance, strength, flexibility, agility,
                                            artistry and endurance.
                                            The movements involved in gymnastics contribute to the development of the
                                            arms, legs, shoulders, back, chest, and abdominal muscle groups.
                                            Gymnastics evolved from exercises used by the ancient Greeks that included
                                            skills for mounting and dismounting a horse.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body d-flex">
                                    <div class="icon-lg rounded-3 text-white" style="background-color: cadetblue"><i
                                            class="fa fas fa-swimmer" style="color: #dbb2f7"></i></div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2" style="color: cadetblue"><a
                                                class="stretched-link text-reset" href="/swimming">Swimming</a></h5>
                                        <p class="m-0" style="color: white">Swimming is an individual or team racing
                                            sport that requires the use of one's entire body to move through water.
                                            The sport takes place in pools or open water. Competitive swimming is one of
                                            the most popular Olympic sports,
                                            with varied distance events in butterfly, backstroke, breaststroke,
                                            freestyle, and individual medley.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body d-flex">
                                    <div class="icon-lg rounded-3 text-white" style="background-color: cadetblue"><i
                                            class="fa fa-solid fa-child" style="color: #dbb2f7"></i></div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2" style="color: cadetblue"><a
                                                class="stretched-link text-reset" href="/kids-zone">Kids Zone</a></h5>
                                        <p class="m-0" style="color: white">For special customers I have a unique
                                            opportunity to leave their children in our children's area.
                                            In it, your children will be able to safely play in front of our colleagues.
                                            So you will have the opportunity to devote yourself to your training in
                                            peace.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="card">
                                <div class="card-body d-flex">
                                    <div class="icon-lg rounded" style="background-color: cadetblue"><i
                                            class="fa fa-solid fa-utensils" style="color: #dbb2f7"></i></div>
                                    <div class="ps-3 col">
                                        <h5 class="h6 mb-2" style="color: cadetblue"><a
                                                class="stretched-link text-reset" href="/healthy-food">Healthy Food</a>
                                        </h5>
                                        <p class="m-0" style="color: white">We also have a food and beverage area here.
                                            You can enjoy our healthy food and drinks.
                                            Come and enjoy our homemade foods, amazing shakes, delicious healthy
                                            desserts and protein bars.
                                            There is both a restaurant and a bar in the area.
                                            Come and see how we combine good food with good training.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</main>
<div class="title-class rounded-5 m-2" style="background-image: url('/pic/Interval Training Workouts.jpg')"><div><h3 class="h1-title">Mens sana in corpore sano.</h3></div></div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>