<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body style="background-color:#c7c5bc">
<header th:replace="fragments/header"></header>
<main><div class="ima-manu">
    <img src="/pic/kids-zone1.jpg">
    <img src="/pic/kids-zone2.jpg">
    <img src="/pic/kids-zone3.jpg">
    <img src="/pic/kids-zone4.jpg">
    <img src="/pic/kids-zone5.jpg">

</div></main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>