<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body style="background-color:#c7c5bc">
<header th:replace="~{fragments/header}"></header>
<main>
    <div style="padding-bottom: 240px;padding-top: 80px">
    <th:block th:if="${@currentUser.id == null}">
        <div class="container text-light ">
            <div class="h1-form">
                <h1>Login</h1>
            </div>

        </div>
        <form th:action="@{/users/login}" th:method="POST" th:object="${userLoginBindingModel}"
              class="mx-auto w-25 bg-blur rounded-3 p-2" style="background-color:cadetblue">
            <h3 th:if="${isFound == false}" class="mt-5 text-center">
                <strong class="h3-form rounded">
                    Wrong username or password.
                </strong>
            </h3>
            <div class="form-group col-md-12 pt-5">
                <label for="username">Username</label>
                <input th:field="*{username}" th:errorclass="is-invalid" type="text" class="form-control"
                       id="username"
                       aria-describedby="usernameHelpInline" placeholder="Username">
            </div>
            <div class="form-group col-md-12">
                <label for="password">Password</label>
                <input th:field="*{password}" th:errorclass="is-invalid" type="password"

                       class="form-control"
                       id="password"
                       aria-describedby="passwordHelpInline" placeholder="Password">
            </div>
            <!--        <div class="form-group form-check col-md-10">-->
            <!--            <input type="checkbox" class="form-check-input " id="remember" name="remember">-->
            <!--            <label class="form-check-label" for="remember">Remember me</label>-->
            <!--        </div>-->

            <div>
                <button type="submit" class="btn btn-outline-warning" id="reg-submit">LOGIN</button>
            </div>
        </form>
    </div>
    </th:block>
    <th:block th:unless="${@currentUser.id == null}">
        <div class="notification-class" style=": 200px"><h1>Hello, you are already logged in.</h1></div>
    </th:block>
</main>
<div class="title-class rounded-5 m-2" style="background-image: url('/pic/Interval Training Workouts.jpg')"><div><h3 class="h1-title">Mens sana in corpore sano.</h3></div></div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>