<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body style="background-image: url('/pic/bk.jpg');">
<header th:replace="fragments/header"></header>
<main>
  <th:block th:if="${@currentUser.id == null}">
    <div class="container-header mx-auto w-50 bg-blur text-center py-5" id="index_title">
      <p class="h2 text-warning p-2">Welcome to</p>
      <h1 class="h1-title"> GYM CENTER</h1>
      <p class="h4 text-black">On the website you will find the perfect base for sports.</p>
      <h4 class="h1-title">Mens sana in corpore sano.</h4>
      <h3 class="text-black">
        <a style="text-shadow: 0px 0px 6px rgba(255,255,255,0.7);" href="/users/login">Login</a>
        if you have an account or
        <a style="text-shadow: 0px 0px 6px rgba(255,255,255,0.7);" href="/users/register">Register</a>
        now and check our deals.
      </h3>
    </div>
  </th:block>
  <th:block th:unless="${@currentUser.id == null}">
    <th:block th:if="${@currentUser.isPlan()}">
    <div class="container-fluid1">
      <div class="title-class"><h1>Choose your package. More credits, more classes...</h1></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="card-plan text-center">
              <div class="title rounded-top">
                <i class="fa fa-solid fa-star" aria-hidden="true"></i>
                <h2>Basic</h2>
              </div>
              <div class="price">
                <h4><sup>£</sup> 29.96 </h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 Fitness</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                  <li><i class="fa fa-times" aria-hidden="true"></i> Free Kids Zone</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> 8 Credits</li>
                </ul>
              </div>
              <a href="/users/profile">Order Now </a>
            </div>
          </div>
          <!-- END Col one -->
          <div class="col-sm-4">
            <div class="card-plan text-center">
              <div class="title rounded-top">
                <i class="fa fa-solid fa-star" aria-hidden="true"></i>
                <i class="fa fa-solid fa-star" aria-hidden="true"></i>
                <h2>Standard</h2>
              </div>
              <div class="price">
                <h4><sup>£</sup> 69.96 </h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 Fitness</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Free Kids Zone</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> 12 Credits</li>
                </ul>
              </div>
              <a href="/users/profile">Order Now </a>
            </div>
          </div>
          <!-- END Col two -->
          <div class="col-sm-4">
            <div class="card-plan text-center">
              <div class="title rounded-top">
                <i class="fa fa-solid fa-star" aria-hidden="true"></i>
                <i class="fa fa-solid fa-star" aria-hidden="true"></i>
                <i class="fa fa-solid fa-star" aria-hidden="true"></i>
                <h2>Premium</h2>
              </div>
              <div class="price">
                <h4><sup>£</sup> 89.96 </h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="fa fa-check" aria-hidden="true"></i> 24/7 Fitness</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Free Wifi</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Free Parking</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> Free Kids Zone</li>
                  <li><i class="fa fa-check" aria-hidden="true"></i> 16 Credits</li>
                </ul>
              </div>
              <a href="/users/profile">Order Now </a>
            </div>
          </div>
      </th:block>
    <th:block th:unless="${@currentUser.isPlan()}">
      <div class="notification-class"><h1>Hello, you already have a plan.</h1></div>
    </th:block>
 </th:block>

</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>