<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main>
    <th:block sec:authorize="!isAuthenticated()">
        <div style="padding-bottom: 40px">
        <div class="container-header mx-auto w-50 bg-blur text-center py-5 rounded-5" style="background-color:cadetblue" id="index_title">
            <p class="h2 text-warning p-2">Welcome to</p>
            <h1 class="h1-title"> GYM CENTER</h1>
            <p class="h4 text-black">On the website you will find the perfect base for sports.</p>
            <h3 class="text-black">
                <a style="text-shadow: 0px 0px 6px rgba(255,255,255,0.7);" href="/users/login">Login</a>
                if you have an account or
                <a style="text-shadow: 0px 0px 6px rgba(255,255,255,0.7);" href="/users/register">Sign in</a>
                now and check our deals.
            </h3>
        </div>
        </div>
    </th:block><th:block sec:authorize="isAuthenticated()">
    <div id="message" th:if="${message}" class="alert alert-success text-center m-2" th:text="${message}"> Create new scratch file from selection</div>
    <th:block th:if="${hasPlan}">
        <div id="successMessage" th:if="${planSelected}" class="alert alert-success text-center m-2">
            <p>Your plan has been successfully selected!</p>
        </div>

        <div class="container p-5">
            <div class="row justify-content">
                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="title rounded">
                            <h2 class="p-2 rounded" style="background-color: #e6dbb9" pt-2>PROFILE</h2>
                            <h5 class="profile p-3">Username: <span th:text="${user.username}"></span></h5>
                            <h5 class="profile p-3">Email: <span th:text="${user.email}"></span></h5>
                            <h5 class="profile p-3">Name: <span th:text="${user.name}"></span></h5>
                            <h5 class="profile p-3">Surname: <span th:text="${user.surname}"></span></h5>
                            <h5 class="profile p-3" th:if="${hasPlan}">
                                Credits: <span th:text="${selectedP.initialCredits}"></span>
<!--                                + '/' + ${selectedP.initialCredits}-->
                            <h5 class="profile p-3">Plan: <span th:text="${selectedP.plan}"></span></h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="title rounded">
                            <h2 class="p-2 rounded" style="background-color: #e6dbb9" pt-2>WORK BOARD</h2>
                            <h5 class="profile p-3" th:if="${hasPlan}">
                                Remaining credits: <span th:text="${user.currentCredits}"></span>
                            </h5>
                            <div th:each="training : ${userTrainings}">
                                <h5 class="profile p-3">
                                    <span th:text="${training.day} + ': ' + ${training.trainingType}"></span>
                                    <form th:action="@{/training/remove}" method="post" style="display: inline;">
                                        <input type="hidden" name="trainingId" th:value="${training.id}"/>
                                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                    </form>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="width: 50%; margin: 0 auto;">
        <table class="table table-bordered text-center" style="font-size: 0.8rem;">
            <thead>
            <tr class="tr-days">
                <th class="text-uppercase" style="background-color: cadetblue; color: #f7af1a">Day</th>
                <th th:each="type : ${trainingTypes}"
                    class="text-uppercase"
                    style="background-color: cadetblue; color: #f7af1a"
                    th:text="${type}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="day : ${days}">
                <td style="background-color: #e6dbb9" th:text="${day}"></td>
                <td th:each="type : ${trainingTypes}" style="background-color: #e6dbb9">
                    <form th:action="@{/training/select}" method="post">
                        <input type="hidden" name="day" th:value="${day}"/>
                        <input type="hidden" name="trainingType" th:value="${type}"/>
                        <button type="submit" class="btn btn-primary">Select</button>
                    </form>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </th:block>
    <th:block th:unless="${hasPlan}">
        <div class="container p-5">
            <div class="row justify-content">
                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="title rounded">
                            <h2 class="p-2 rounded" style="background-color: #e6dbb9" pt-2>PROFILE</h2>
                            <h5 class="profile p-3">Username: <span th:text="${user.username}"></span></h5>
                            <h5 class="profile p-3">Email: <span th:text="${user.email}"></span></h5>
                            <h5 class="profile p-3">Name: <span th:text="${user.name}"></span></h5>
                            <h5 class="profile p-3">Surname: <span th:text="${user.surname}"></span></h5>
                        </div>
                    </div>
                </div>
                    <div class="col-sm-6">
                        <div class="card text-center">
                            <div class="title rounded" style="background-color: #c7c5bc">
                                <h1 class="h1 text-center" style="padding-top: 20px; padding-bottom: 20px;color: cadetblue;font-weight:bold;" >
                                    <div>You do not have a plan.</div></h1>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </th:block>
</th:block>
<!--    <script>-->
<!--        setTimeout(function () {-->
<!--            const messageDiv = document.getElementById("successMessage");-->
<!--            if (messageDiv) {-->
<!--                messageDiv.style.opacity = "0";-->
<!--                setTimeout(() => messageDiv.style.display = "none", 1000);-->
<!--            }-->
<!--        }, 3000);-->
<!--        function toggleButton(button) {-->
<!--            button.classList.toggle('active');-->
<!--        }-->
<!--    </script>-->
    <script>
        setTimeout(function () {
            const messages = ["successMessage", "message"];

            messages.forEach(function (id) {
                const messageDiv = document.getElementById(id);
                if (messageDiv) {
                    messageDiv.style.opacity = "0";
                    setTimeout(() => {
                        messageDiv.style.display = "none";
                    }, 1000);
                }
            });
        }, 3000);
    </script>
</main>
<div class="title-class rounded-5 mx-2" style="background-image: url('/pic/Interval Training Workouts.jpg')"><div><h3 class="h1-title">Mens sana in corpore sano.</h3></div></div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
