<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body style="background-color:#c7c5bc">
<header th:replace="fragments/header"></header>
<main>
    <th:block th:if="${@currentUser.id == null}">
        <div style="padding-bottom: 40px">
        <div class="container-header mx-auto w-50 bg-blur text-center py-5 rounded-5" style="background-color:cadetblue" id="index_title">
            <p class="h2 text-warning p-2">Welcome to</p>
            <h1 class="h1-title"> GYM CENTER</h1>
            <p class="h4 text-black">On the website you will find the perfect base for sports.</p>
            <h4 class="h1-title">Mens sana in corpore sano.</h4>
            <h3 class="text-black">
                <a style="text-shadow: 0px 0px 6px rgba(255,255,255,0.7);" href="/users/login">Login</a>
                if you have an account or
                <a style="text-shadow: 0px 0px 6px rgba(255,255,255,0.7);" href="/users/register">Register</a>
                now and check our deals.
            </h3>
        </div>
        </div>
    </th:block>
    <th:block th:unless="${@currentUser.id == null}">
        <div class="container p-5">
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="title rounded">
                                <th:block th:unless="${@currentUser.id == null}">
                                    <h2 class="p-2 rounded" style="background-color: #e6dbb9" pt-2>Profile</h2>
                                    <h5 class="profile p-3">Username : <span th:text="${@currentUser.username}"></span></h5>
                                    <h5 class="profile p-3">Credits : <span th:text="${@currentUser.username}"></span></h5>
                                    <h5 class="profile p-3">Plan : <span th:text="${@currentUser.username}"></span></h5>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

 </div>
        <div class="container pb-5">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr class="tr-days">
                        <th class="text-uppercase" style="background-color: #8b7d91; color: #f7af1a">Time
                        </th>
                        <th class="text-uppercase" style="background-color: #569181; color: #f7af1a">Monday</th>
                        <th class="text-uppercase" style="background-color: #569181; color: #f7af1a">Tuesday</th>
                        <th class="text-uppercase" style="background-color: #569181; color: #f7af1a">Wednesday</th>
                        <th class="text-uppercase" style="background-color: #569181; color: #f7af1a">Thursday</th>
                        <th class="text-uppercase" style="background-color: #569181; color: #f7af1a">Friday</th>
                        <th class="text-uppercase" style="background-color: #569181; color: #f7af1a">Saturday</th>
                    </tr>
                    </thead>
                    <tbody class="tbody-calender">
                    <tr>
                        <td class="align-middle" style="background-color: #8b7d91; color: #f7af1a">09:00am</td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-sky calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13 text-decoration-none" href="#" role="button" id="b1" onclick="toggleButton(this)">Dance</a>
                                <div class="margin-10px-top font-size14">9:00-10:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-green calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b2" onclick="toggleButton(this)">Yoga</a>
                            <div class="margin-10px-top font-size14">9:00-10:00</div>

                        </td>

                        <td style="background-color: #e6dbb9">
                            <a class="bg-yellow calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b3" onclick="toggleButton(this)">Music</a>
                            <div class="margin-10px-top font-size14">9:00-10:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-sky calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b4" onclick="toggleButton(this)">Dance</a>
                            <div class="margin-10px-top font-size14">9:00-10:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-purple calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b5" onclick="toggleButton(this)">Art</a>
                            <div class="margin-10px-top font-size14">9:00-10:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-pink calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b6" onclick="toggleButton(this)">English</a>
                            <div class="margin-10px-top font-size14">9:00-10:00</div>

                        </td>
                    </tr>

                    <tr>
                        <td class="align-middle" style="background-color: #8b7d91; color: #f7af1a">10:00am</td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-yellow calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b7" onclick="toggleButton(this)">Music</a>
                            <div class="margin-10px-top font-size14">10:00-11:00</div>

                        </td>
                        <td class="bg-light-gray" style="background-color: #e6dbb9">

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-purple calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b8" onclick="toggleButton(this)">Art</a>
                            <div class="margin-10px-top font-size14">10:00-11:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-green calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b9" onclick="toggleButton(this)">Yoga</a>
                            <div class="margin-10px-top font-size14">10:00-11:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-pink calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b10" onclick="toggleButton(this)">English</a>
                            <div class="margin-10px-top font-size14">10:00-11:00</div>

                        </td>
                        <td class="bg-light-gray" style="background-color: #e6dbb9">

                        </td>
                    </tr>

                    <tr>
                        <td class="align-middle" style="background-color: #8b7d91; color: #f7af1a">11:00am</td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-lightred calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b11" onclick="toggleButton(this)">Break</a>
                            <div class="margin-10px-top font-size14">11:00-12:00</div>
                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-lightred calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b12" onclick="toggleButton(this)">Break</a>
                            <div class="margin-10px-top font-size14">11:00-12:00</div>
                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-lightred calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b13" onclick="toggleButton(this)">Break</a>
                            <div class="margin-10px-top font-size14">11:00-12:00</div>
                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-lightred calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b14" onclick="toggleButton(this)">Break</a>
                            <div class="margin-10px-top font-size14">11:00-12:00</div>
                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-lightred calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b15" onclick="toggleButton(this)">Break</a>
                            <div class="margin-10px-top font-size14">11:00-12:00</div>
                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-lightred calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b16" onclick="toggleButton(this)">Break</a>
                            <div class="margin-10px-top font-size14">11:00-12:00</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="align-middle" style="background-color: #8b7d91; color: #f7af1a">12:00pm</td>
                        <td class="bg-light-gray" style="background-color: #e6dbb9">

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-purple calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b17" onclick="toggleButton(this)">Art</a>
                            <div class="margin-10px-top font-size14">12:00-1:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-sky calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b18" onclick="toggleButton(this)">Dance</a>
                            <div class="margin-10px-top font-size14">12:00-1:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-yellow calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b19" onclick="toggleButton(this)">Music</a>
                            <div class="margin-10px-top font-size14">12:00-1:00</div>

                        </td>
                        <td class="bg-light-gray" style="background-color: #e6dbb9">

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-green calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b20" onclick="toggleButton(this)">Yoga</a>
                            <div class="margin-10px-top font-size14">12:00-1:00</div>
                            <div class="font-size13 text-light-gray">Marta Healy</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="align-middle" style="background-color: #8b7d91; color: #f7af1a">01:00pm</td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-pink calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b21" onclick="toggleButton(this)">English</a>
                            <div class="margin-10px-top font-size14">1:00-2:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-yellow calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b22" onclick="toggleButton(this)">Music</a>
                            <div class="margin-10px-top font-size14">1:00-2:00</div>

                        </td>
                        <td class="bg-light-gray" style="background-color: #e6dbb9">

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-pink calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b23" onclick="toggleButton(this)">English</a>
                            <div class="margin-10px-top font-size14">1:00-2:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-green calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b24" onclick="toggleButton(this)">Yoga</a>
                            <div class="margin-10px-top font-size14">1:00-2:00</div>

                        </td>
                        <td style="background-color: #e6dbb9">
                            <a class="bg-yellow calendar-button padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16  xs-font-size13 text-decoration-none" href="#" role="button" id="b25" onclick="toggleButton(this)">Music</a>
                            <div class="margin-10px-top font-size14">1:00-2:00</div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </th:block>
</main>
<div class="title-class rounded-5 mx-2" style="background-image: url('/pic/Interval Training Workouts.jpg')"><div><h3 class="h1-title">Mens sana in corpore sano.</h3></div></div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>