<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body style="background-color:#c7b4a1">
<header th:replace="fragments/header"></header>
<main><div class="ima-manu">
    <img src="/pic/sw1.jpg">
    <img src="/pic/sw2.jpg">
    <img src="/pic/sw3.jpg">
    <img src="/pic/sw4.jpg">
    <img src="/pic/pool.jpg">
    <img src="/pic/pool1.jpg">
    <img src="/pic/pool2.jpg">

</div></main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>