<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body style="background-image: url('/pic/bk.jpg');">
<header th:replace="fragments/header"></header>
<main><div class="ima-manu">
  <img src="/pic/tennis.jpg">
  <img src="/pic/tennis1.jpg">
  <img src="/pic/tennis2.jpg">
  <img src="/pic/tennis3.jpg">
  <img src="/pic/tennis4.jpg">
  <img src="/pic/tennis5.jpg">
</div></main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>